html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pageBg1{
  /* Created with https://www.css-gradient.com */
background: #412201;
background: -webkit-linear-gradient(bottom left, #412201, #D86201);
background: -moz-linear-gradient(bottom left, #412201, #D86201);
background: linear-gradient(to top right, #412201, #D86201);
}

